<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed"
        data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        Menú
      </button>
      <a class="navbar-brand" href="#/main">
        <img src="img/sislab.png" alt="SISLAB">
      </a>
      <div class="navbar-name">
        Usuario <b>{{::menu.userName}}</b>
      </div>
    </div>
    <div id="navbar" class="navbar-collapse collapse"
      data-ng-show="menu.menu.length > 0">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" data-ng-repeat="item in menu.menu">
          <a class="dropdown-toggle" data-toggle="dropdown"
            data-ng-if="item.id_menu == 8">
              <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
              <span class="caret"></span>
          </a>
          <a class="dropdown-toggle" data-toggle="dropdown"
            data-ng-if="item.id_menu != 8">
              {{::item.menu}}
              <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li
              data-ng-if="item.id_menu == 8">
              <a href="#/sistema/perfil">Perfil</a></li>
            <li role="separator" class="divider"
              data-ng-if="item.id_menu == 8"></li>
            <li data-ng-repeat="subItem in item.submenu">
              <a href="#{{::subItem.url}}">
                {{::subItem.menu}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
