    <sislab-menu></sislab-menu>
    <sislab-banner></sislab-banner>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2 main item-z2">
          <div class="view-container">

<div class="row">
  <div class="col-xs-12 hidden-xs hidden-sm">
    <div class="pull-left">
      <img src="img/sislab_banner.png" alt="Sistema de Laboratorio">
    </div>
    <div class="pull-right">
      <img src="img/conagua48px.png" alt="CONAGUA">
    </div>
    <div class="pull-right">
      <img src="img/cea48px.png" alt="CEA Jalisco">
      &nbsp;
      &nbsp;
    </div>
  </div>
  <div class="col-xs-12 visible-xs visible-sm">
    <div class="pull-left">
      <img src="img/sislab_banner_sm.png" alt="">
    </div>
    <div class="pull-right">
      <img src="img/conagua24px.png" alt="">
    </div>
    <div class="pull-right">
      <img src="img/cea24px.png" alt="">
      &nbsp;
      &nbsp;
    </div>
  </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12 panel item-z1">
      <h4><small>Bienvenido/a: </small> {{tasks.userName}}</h4>
    </div>
</div>

          </div>
          <sislab-footer></sislab-footer>
        </div><!-- view-container -->
      </div><!-- row -->
    </div><!-- container -->

