    <sislab-menu></sislab-menu>
    <sislab-banner></sislab-banner>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2 main item-z2">
          <div class="view-container">

<div class="row">
  <div class="col-xs-12">
    <h2 class="page-header">Usuarios</h2>
  </div>
</div>
<form class="form" role="form"
  name="usersForm"
  novalidate
  >
  <div class="row">
    <div class="col-xs-12">
      <h4>Búsqueda</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <label for="userSearch" class="sr-only">
        Ingrese una búsqueda
      </label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="glyphicon glyphicon-search"></i>
        </div>
        <input type="text"
          class="form-control"
          placeholder="Ingrese una búsqueda"
          name="userSearch"
          data-ng-model="users.filter.$">
      </div>
      <br>
    </div>
  </div>
</form>
<div class="row">
  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Usuarios</h3>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th>Usuario</th>
              <th>Rol</th>
              <th>Permisos</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr
              data-ng-repeat="item in users.users
              | filter:users.filter.$">
              <td>
                {{::item.nombres}}
                <strong>
                  {{::item.apellido_paterno}} {{::item.apellido_materno}}
                </strong>
              </td>
              <td>
                {{::item.rol}}
              </td>
              <td>
                <span
                  data-ng-show="item.calidad > 0"
                  class="label label-danger">Calidad</span>
                <span
                  data-ng-show="item.supervisa > 0"
                  class="label label-warning">Supervisión</span>
                <span
                  data-ng-show="item.analiza > 0"
                  class="label label-info">Análisis</span>
                <span
                  data-ng-show="item.muestrea > 0"
                  class="label label-success">Muestreo</span>
              </td>
              <td>
                <button class="btn btn-default"
                  value="Consultar" title="Consultar"
                  data-ng-click="users.viewUser(item.id_usuario)"
                  >
                  <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

          </div>
          <sislab-footer></sislab-footer>
        </div><!-- view-container -->
      </div><!-- row -->
    </div><!-- container -->

