<h2>Captura de acuse pendiente</h2>

<h3>Entrega</h3>

<h4>Fecha</h4>
<myCalendar>
  <date></date>
</myCalendar>

<h4>Dirección</h4>
<select>
  <option>
    Dirección
  </option>
</select>

<h4>Gerencia</h4>
<select>
  <option>
    Gerencia
  </option>
</select>

<h4>Remitente</h4>
<label>
  Nombre
</label>
<input type="text"
  value="Nombre del solicitante"
  >


<h3>Destino</h3>

<h4>Fecha de elaboración</h4>
<myCalendar>
  <date></date>
</myCalendar>

<h4>Fecha de recepción</h4>
<myCalendar>
  <date></date>
</myCalendar>

<h4>Dependencia</h4>
<select>
  <option>
    Dependencia Externa
  </option>
</select>

<h4>Control correspondencia</h4>
<label>
  Núm. de control
</label>
<input type="text"
  value="Número de control del documento en correspondencia"
  >

<h4>Oficio</h4>
<label>
  Núm. Oficio
</label>
<input type="text"
  value="Número del oficio de respuesta"
  >

<h4>Destinatario</h4>
<label>
  Nombre
</label>
<input type="text"
  value="Nombre del destinatario de la respuesta"
  >

<h4>Texto del oficio</h4>
<label>
  Contenido
</label>
<textarea></textarea>

<h4>Status Acuse</h4>
<select>
  <option>
    Pendiente
  </option>
</select>

<h4>Ruta a documento</h4>
<input type="text"
  value="url/a/documento/original.pdf"
  >


