    <sislab-menu></sislab-menu>
    <sislab-banner></sislab-banner>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2 main item-z2">
          <div class="view-container">

<div class="row">
  <div class="col-xs-12">
    <h2 class="page-header">Referencias</h2>
  </div>
</div>
<form class="form" role="form"
  name="referencesListForm"
  novalidate
  >
  <div class="row">
    <div class="col-xs-12">
      <h4>Búsqueda</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <label for="referenceName" class="sr-only">
        Ingrese una búsqueda (Norma, Método, Parámetro, etc.)
      </label>
      <input type="text"
        class="form-control"
        placeholder="Ingrese una búsqueda (Norma, Método, Parámetro, etc.)"
        id="referenceName"
        name="referenceName"
        data-ng-model="referencesList.filter.$"
        >
      <br>
    </div>
  </div>
</form>
<div class="row">
  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Referencias</h3>
      </div>
      <div class="table-responsive">
        <table class="table table-hover"
          id="referencesList">
          <thead>
            <tr>
              <th>Norma</th>
              <th>Método</th>
              <th>Resumen</th>
            </tr>
          </thead>
          <tbody>
            <tr
              data-ng-repeat="item in referencesList.references |
              filter:referencesList.filter.$"
              id="referenceId{{item.id_referencia}}"
              data-ng-click="referencesList.selectRow()"
              >
              <td>
               {{item.norma}}
              </td>
              <td>
                {{item.metodo}}
              </td>
              <td>
                {{item.descripcion}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

          </div>
          <sislab-footer></sislab-footer>
        </div><!-- view-container -->
      </div><!-- row -->
    </div><!-- container -->

