    <sislab-menu></sislab-menu>
    <sislab-banner></sislab-banner>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2 main item-z2">
          <div class="view-container">

<div class="row">
  <div class="col-xs-12">
    <h2 class="page-header">Recipientes</h2>
  </div>
</div>
<form class="form" role="form"
  name="containersListForm"
  novalidate
  >
  <div class="row">
    <div class="col-xs-12">
      <h4>Búsqueda</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <label for="containerName" class="sr-only">
        Ingrese una búsqueda (Clave, Muestra, Preservación, etc.)
      </label>
      <input type="text"
        class="form-control"
        placeholder="Ingrese una búsqueda (Clave, Muestra, Preservación, etc.)"
        id="containerName"
        name="containerName"
        data-ng-model="containersList.filter.$"
        >
      <br>
    </div>
  </div>
</form>
<div class="row">
  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Recipientes</h3>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-striped"
          id="containersList">
          <thead>
            <tr>
              <th>Clave</th>
              <th>Muestra</th>
              <th>Preservación</th>
            </tr>
          </thead>
          <tbody>
            <tr
              data-ng-repeat="item in containersList.containers |
              filter:containersList.filter.$"
              id="containerId{{item.id_recipiente}}"
              data-ng-click="containersList.selectRow()"
              >
              <td>
                {{item.folio}} / {{item.ejercicio}}
              </td>
              <td>
                {{item.muestra.folio}} / {{item.muestra.ejercicio}}
              </td>
              <td>
                {{item.preservacion}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

          </div>
          <sislab-footer></sislab-footer>
        </div><!-- view-container -->
      </div><!-- row -->
    </div><!-- container -->

