    <sislab-menu></sislab-menu>
    <sislab-banner></sislab-banner>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2 main item-z2">
          <div class="view-container">

<div class="row">
  <div class="col-xs-12">
    <h2 class="page-header">Plan de muestreo</h2>
  </div>
</div>
<div class="toast">
  <div class="alert alert-danger item-z1" role="alert"
    data-ng-show="plan.plan.id_status == 3">
    <i class="glyphicon glyphicon-ban-circle"></i>
    Motivo rechazo:
    <strong>
      {{plan.plan.motivo_rechaza}}
      <span
        data-ng-show="plan.plan.fecha_rechaza.length > 0">
        ({{plan.plan.fecha_rechaza | date: 'yyyy-MM-dd'}})
      </span>
    </strong>
  </div>
</div>
<div class="toast-warning">
  <div class="alert alert-warning alert-dismissible item-z1" role="alert"
    data-ng-show="plan.message.length > 0">
    <button type="button" class="close" aria-label="Cerrar"
      data-ng-click="plan.message = ''">
      <span aria-hidden="true">&times;</span>
    </button>
    <i class="glyphicon glyphicon-warning-sign"></i>
    <strong>
      {{plan.message}}
    </strong>
  </div>
</div>

<form class="form" role="form"
  name="planForm"
  novalidate
  >
  <!--
  <div class="row">
    <div class="col-xs-12" data-bs-collapse>
      <h4 data-bs-collapse-toggle>
        <a class="btn btn-default">
          <i class="glyphicon glyphicon-chevron-down"
            aria-hidden="true"></i>
        </a>
        Datos de Referencia
      </h4>
      <div class="row well well-sm item-z1"
        data-bs-collapse-target
        >
        <div class="col-xs-12 col-sm-6">
          <h6>Plan</h6>
          <ul class="list-inline">
            <li>
              Folio:
              <strong>{{::plan.plan.id_plan}}</strong>
            </li>
            <li data-ng-show="plan.plan.fecha.length > 0">
              Fecha:
              <strong>{{::plan.plan.fecha | date: 'yyyy-MM-dd'}}</strong>
            </li>
          </ul>
          <h6>Orden de muestreo</h6>
          <ul class="list-inline">
            <li>
              Folio:
              <strong>
                {{::plan.plan.orden.id_orden}}
              </strong>
            </li>
            <li>
              Fecha:
              <strong>
                {{::plan.plan.orden.fecha_captura | date: 'yyyy-MM-dd'}}
              </strong>
            </li>
            <li>
              Matriz:
              <strong>
                {{::plan.plan.orden.id_matriz}}
              </strong>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="well well-sm">
            <h6>Cliente</h6>
            <ul class="list-inline">
              <li>
                Cliente:
                <strong>
                  {{::plan.plan.orden.cliente.cliente}}
                </strong>
                {{::plan.plan.orden.cliente.area}}
              </li>
              <li>
                Contacto:
                <strong>
                  {{::plan.plan.orden.cliente.contacto}}
                /strong>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h6>Ubicación</h6>
      <p>
        {{plan.location}}
      </p>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h6>Medio de solicitud</h6>
      <p>
        {{plan.source}}
        <span
          data-ng-show="plan.study.origen_descripcion.length > 1">
          ({{::plan.study.origen_descripcion}})
        </span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Objetivo</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5">
      <label for="objectiveSelect" class="sr-only">
        Objetivo de muestreo
      </label>
      <select class="form-control"
        id="objectiveSelect"
        name="objectiveSelect"
        data-ng-model="plan.plan.id_objetivo_plan"
        >
        <option
          data-ng-repeat="objective in plan.objectives"
          value="{{objective.id_objetivo_plan}}">
          {{::objective.objetivo_plan}}
        </option>
      </select>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-7">
      <label class="sr-only" for="objectiveText">
        En caso de otro, especificar
      </label>
      <input type="text" class="form-control"
        id="objectiveText"
        name="objectiveText"
        placeholder="En caso de otro, especificar"
        data-ng-model="plan.plan.objetivo_otro"
        >
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <label for="samplingDate">
        <i class="glyphicon glyphicon-calendar"></i>
        Fecha
      </label>
      <input type="text"
        class="form-control"
        id="samplingDate"
        name="samplingDate"
        placeholder="aaaa-MM-dd"
        required
        data-ng-model="plan.plan.fecha"
        data-date-format="yyyy-MM-dd"
        data-date-type="date"
        data-autoclose="1"
        date-use-native="true"
        data-bs-datepicker
        >
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Ubicación</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <label for="calleText">
        Calle
      </label>
      <input type="text" class="form-control"
        id="calleText"
        name="calleText"
        placeholder="Calle"
        data-ng-model="plan.plan.calle"
        >
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <label for="numeroText">
        Número exterior
      </label>
      <input type="text" class="form-control"
        id="numeroText"
        name="numeroText"
        placeholder="Número exterior"
        data-ng-model="plan.plan.numero"
        >
    </div>
    <div class="col-xs-12 col-sm-8">
      <label for="coloniaText">
        Colonia
      </label>
      <input type="text" class="form-control"
        id="coloniaText"
        name="coloniaText"
        placeholder="Colonia"
        data-ng-model="plan.plan.colonia"
        >
    </div>
    <div class="col-xs-12 col-sm-6">
      <label for="districtSelect">
        Municipio
      </label>
      <select class="form-control"
        id="districtSelect"
        name="districtSelect"
        data-ng-model="plan.plan.id_municipio"
        data-ng-change="plan.selectDistrict()"
        >
        <option data-ng-repeat="district in plan.districts"
          value="{{district.id_municipio}}"
          data-ng-selected="district.id_municipio == plan.plan.id_municipio"
          >
         {{::district.municipio}}
        </option>
      </select>
    </div>
    <div class="col-xs-12 col-sm-6">
      <label for="citySelect">
        Localidad
      </label>
      <select class="form-control"
        id="citySelect"
        name="citySelect"
        data-ng-model="plan.plan.id_localidad"
        >
        <option data-ng-repeat="city in plan.cities"
          value="{{city.id_localidad}}">
         {{city.localidad}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Puntos de muestreo</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4"
      data-ng-repeat="point in plan.plan.puntos">
      <ul class="list-unstyled">
        <li>
          <strong>{{point.punto}}</strong>
        </li>
        <li>
          {{point.descripcion}}
        </li>
        <li>
          Lat: {{::point.lat}}
        </li>
        <li>
          Long: {{::point.lng}}
        </li>
      </ul>
    </div>
    <div class="col-xs-12">
      Puntos:
      <strong>
      {{::plan.plan.puntos.length}}
      </strong>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Responsables</h4>
    </div>
  </div>
  <div class="row"
    data-ng-show="plan.plan.supervisor_muestreo"
    >
    <div class="col-xs-12 col-sm-5">
      <label>
        Responsable muestreo
      </label>
      <p>
        {{::plan.plan.supervisor_muestreo.nombres}}
        {{::plan.plan.supervisor_muestreo.apellido_paterno}}
        {{::plan.plan.supervisor_muestreo.apellido_materno}}
        <br>
        <span class="text-muted">(por Orden de muestreo)</span>
      </p>
      Tipo muestreo:
      <strong>{{::plan.plan.tipo_muestreo}}</strong>
    </div>
    <div class="col-xs-12 col-sm-3"
      data-ng-show="plan.plan.orden.id_tipo_muestreo > 1">
      <label for="samplingFrequency">
        Frecuencia (horas)
      </label>
      <select class="form-control"
        id="samplingFrequency"
        name="samplingFrequency"
        data-ng-model="plan.plan.frecuencia"
        >
        <option value="2">2</option>
        <option value="4">4</option>
        <option value="6">6</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h5>Muestreo y entrega</h5>
    </div>
    <div class="col-xs-12 col-sm-6">
      <label for="samplingSupervisorSelect">
        Responsable
      </label>
      <select class="form-control"
        id="samplingSupervisorSelect"
        name="samplingSupervisorSelect"
        data-ng-model="plan.plan.id_supervisor_entrega"
        >
        <option
          data-ng-repeat="samplingSupervisor in plan.samplingEmployees"
          value="{{samplingSupervisor.id_usuario}}">
          {{::samplingSupervisor.nombres}}
          {{::samplingSupervisor.apellido_paterno}}
          {{::samplingSupervisor.apellido_materno}}
        </option>
      </select>
    </div>
    <div class="col-xs-12 col-sm-6">
      <label for="samplingCompanion">
        Acompañante
      </label>
      <select class="form-control"
        id="samplingCompanion"
        name="samplingCompanion"
        data-ng-model="plan.plan.id_ayudante_entrega"
        >
        <option
          data-ng-repeat="samplingCompanion in plan.samplingEmployees"
          value="{{samplingCompanion.id_usuario}}">
          {{::samplingCompanion.nombres}}
          {{::samplingCompanion.apellido_paterno}}
          {{::samplingCompanion.apellido_materno}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h5>Recolección</h5>
    </div>
    <div class="col-xs-12 col-sm-6">
      <label for="collectingSupervisorSelect">
        Responsable
      </label>
      <select class="form-control"
        id="collectingSupervisorSelect"
        name="collectingSupervisorSelect"
        data-ng-model="plan.plan.id_supervisor_recoleccion"
        >
        <option
          data-ng-repeat="collectingSupervisor in plan.samplingEmployees"
          value="{{collectingSupervisor.id_usuario}}">
          {{::collectingSupervisor.nombres}}
          {{::collectingSupervisor.apellido_paterno}}
          {{::collectingSupervisor.apellido_materno}}
        </option>
      </select>
    </div>
    <div class="col-xs-12 col-sm-6">
      <label for="collectingSupervisorCompanion">
        Acompañante
      </label>
      <select class="form-control"
        id="collectingSupervisorCompanion"
        name="collectingSupervisorCompanion"
        data-ng-model="plan.plan.id_ayudante_recoleccion"
        >
        <option
          data-ng-repeat="collectingCompanion in plan.samplingEmployees"
          value="{{collectingCompanion.id_usuario}}">
          {{::collectingCompanion.nombres}}
          {{::collectingCompanion.apellido_paterno}}
          {{::collectingCompanion.apellido_materno}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h5>Registro resultados</h5>
    </div>
    <div class="col-xs-12 col-sm-6">
      <label for="loggingSupervisorSelect">
        Responsable
      </label>
      <select class="form-control"
        id="loggingSupervisorSelect"
        name="loggingSupervisorSelect"
        data-ng-model="plan.plan.id_supervisor_registro"
        >
        <option
          data-ng-repeat="loggingSupervisor in plan.samplingEmployees"
          value="{{loggingSupervisor.id_usuario}}">
          {{::loggingSupervisor.nombres}}
          {{::loggingSupervisor.apellido_paterno}}
          {{::loggingSupervisor.apellido_materno}}
        </option>
      </select>
    </div>
    <div class="col-xs-12 col-sm-6">
      <label for="loggingCompanionSelect">
        Acompañante
      </label>
      <select class="form-control"
        id="loggingCompanionSelect"
        name="loggingCompanionSelect"
        data-ng-model="plan.plan.id_ayudante_registro"
        >
        <option
          data-ng-repeat="loggingCompanion in plan.samplingEmployees"
          value="{{loggingCompanion.id_usuario}}">
          {{::loggingCompanion.nombres}}
          {{::loggingCompanion.apellido_paterno}}
          {{::loggingCompanion.apellido_materno}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Asignación de Actividades</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h5>Calibración y verificación de equipo</h5>
    </div>
    <div class="col-xs-12 col-sm-6">
      <label for="calibratorSelect">
        Responsable calibración
      </label>
      <select class="form-control"
        id="calibratorSelect"
        name="calibratorSelect"
        data-ng-model="plan.plan.id_responsable_calibracion"
        >
        <option
          data-ng-repeat="calibratingSupervisor in plan.samplingEmployees"
          value="{{calibratingSupervisor.id_usuario}}">
          {{::calibratingSupervisor.nombres}}
          {{::calibratingSupervisor.apellido_paterno}}
          {{::calibratingSupervisor.apellido_materno}}
        </option>
      </select>
    </div>
    <div class="col-xs-12 col-sm-6">
      <label for="calibrationDate">
        Fecha de calibración
      </label>
      <input type="text"
        class="form-control"
        id="calibrationDate"
        name="calibrationDate"
        placeholder="aaaa-MM-dd"
        required
        data-ng-model="plan.plan.fecha_calibracion"
        data-date-format="yyyy-MM-dd"
        data-date-type="date"
        data-autoclose="1"
        date-use-native="true"
        data-bs-datepicker
        >
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h5>Equipo {{plan.selectInstruments()}}</h5>
    </div>
    <div class="col-xs-12 col-sm-6"
      data-ng-repeat="equipment in plan.instruments">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <label>
           <input type="checkbox"
             value="{{equipment.selected}}"
             data-ng-model="equipment.selected"
             >
             {{equipment.inventario}}
          </label>
        </div>
        <div class="col-xs-12 col-sm-4">
          <label
            for="equipmentLog{{::equipment.id_equipo}}"
            class="sr-only"
            >
            Bitácora
          </label>
          <input type="text"
            class="form-control"
            id="equipmentLog{{::equipment.id_equipo}}"
            name="equipmentLog{{::equipment.id_equipo}}"
            placeholder="Bitácora"
            data-ng-model="equipment.bitacora"
            >
        </div>
        <div class="col-xs-12 col-sm-4">
          <label
            for="equipmentNumber{{::equipment.id_equipo}}"
            class="sr-only"
            >
            Folio
          </label>
          <input type="text"
            class="form-control"
            id="equipmentNumber{{::equipment.id_equipo}}"
            name="equipmentNumber{{::equipment.id_equipo}}"
            placeholder="Folio"
            data-ng-model="equipment.folio"
            >
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      Equipos:
      <strong>
      {{plan.plan.instrumentos.length}}
      </strong>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h5>Preparación de recipiente</h5>
    </div>
    <div class="col-xs-12 col-sm-6">
      <label for="preparationSupervisorSelect" class="sr-only">
        Encargado de preparación
      </label>
      <select class="form-control"
        id="preparationSupervisorSelect"
        name="preparationSupervisorSelect"
        data-ng-model="plan.plan.id_responsable_recipientes"
        >
        <option
          data-ng-repeat="preparationSupervisor in plan.samplingEmployees"
          value="{{preparationSupervisor.id_usuario}}">
          {{::preparationSupervisor.nombres}}
          {{::preparationSupervisor.apellido_paterno}}
          {{::preparationSupervisor.apellido_materno}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h5>Recipientes por preservación {{plan.selectPreservations()}}</h5>
    </div>
    <div class="col-xs-12">
      <label>
        <input type="checkbox"
          value="{{plan.isAllPreservationsListSelected}}"
          data-ng-click="plan.selectAllPreservations()"
          />
          Seleccionar todas las preservaciones
      </label>
    </div>
    <div class="col-xs-12 col-sm-6"
      data-ng-repeat="preservation in plan.preservations">
      <div class="row">
        <div class="col-xs-12">
          <label>
            <input type="checkbox"
              value="{{preservation.selected}}"
              data-ng-model="preservation.selected"
              >
              {{::preservation.preservacion}}
          </label>
          <br>
          <small class="text-muted">
            {{::preservation.descripcion}}
          </small>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      Recipientes por punto:
      <strong>
      {{plan.plan.preservaciones.length}}
      </strong>
    </div>
    <div class="col-xs-12">
      Recipientes totales:
      <strong>
      {{plan.plan.preservaciones.length * plan.plan.puntos.length}}
      </strong>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h5>Reactivos y soluciones {{plan.selectReactives()}}</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <label for="reactiveSupervisorSelect" class="sr-only">
        Encargado de reactivos
      </label>
      <select class="form-control"
        id="reactiveSupervisorSelect"
        name="reactiveSupervisorSelect"
        data-ng-model="plan.plan.id_responsable_reactivos"
        >
        <option
          data-ng-repeat="reactiveSupervisor in plan.samplingEmployees"
          value="{{reactiveSupervisor.id_usuario}}">
          {{::reactiveSupervisor.nombres}}
          {{::reactiveSupervisor.apellido_paterno}}
          {{::reactiveSupervisor.apellido_materno}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <label>
        <input type="checkbox"
          value="{{plan.isAllReactivesListSelected}}"
          data-ng-click="plan.selectAllReactives()"
          />
          Seleccionar todos los reactivos
      </label>
    </div>
    <div class="col-xs-12 col-sm-12"
      data-ng-repeat="reactive in plan.reactives">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <label>
            <input type="checkbox"
              value="{{reactive.selected}}"
              data-ng-model="reactive.selected"
              >
              {{reactive.reactivo}}
          </label>
        </div>
        <div class="col-xs-12 col-sm-3"
          data-ng-if="reactive.lote.length > 0 || reactive.registra_valor"
          >
          <label
            for="reactiveLot{{reactive.id_reactivo}}"
            >
            Lote
          </label>
          <input type="text"
            class="form-control"
            placeholder="Lote"
            name="reactiveLot{{reactive.id_reactivo}}"
            data-ng-model="reactive.lote"
            data-ng-readonly="!reactive.registra_valor"
            >
        </div>
        <div class="col-xs-12 col-sm-3"
          data-ng-if="reactive.folio.length > 0"
          >
          <label
            for="reactiveFolio{{reactive.id_reactivo}}"
            >
            Folio
          </label>
          <input type="text"
            class="form-control"
            placeholder="Folio"
            name="reactiveFolio{{reactive.id_reactivo}}"
            data-ng-model="reactive.folio"
            data-ng-readonly="reactive.folio.length > 0"
            >
        </div>
        <div class="col-xs-12 col-sm-3"
          data-ng-if="reactive.valor.length > 0"
          >
          <label
            for="reactiveValue{{reactive.id_reactivo}}"
            >
            Valor
          </label>
          <input type="text"
            class="form-control"
            placeholder="Valor"
            name="reactiveValue{{reactive.id_reactivo}}"
            data-ng-model="reactive.valor"
            data-ng-readonly="reactive.valor.length > 0"
            >
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      Reactivos y soluciones:
      <strong>
      {{plan.plan.reactivos.length}}
      </strong>
    </div>
    <div class="col-xs-12">
      <small class="text-muted">* Soluciones para verificar la calibración</small>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h5>Preparación de material y equipo {{plan.selectMaterials()}}</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <label for="materialsSupervisorSelect" class="sr-only">
        Encargado de preparación
      </label>
      <select class="form-control"
        id="materialsSupervisorSelect"
        name="materialsSupervisorSelect"
        data-ng-model="plan.plan.id_responsable_material"
        >
        <option
          data-ng-repeat="materialsSupervisor in plan.samplingEmployees"
          value="{{materialsSupervisor.id_usuario}}">
          {{::materialsSupervisor.nombres}}
          {{::materialsSupervisor.apellido_paterno}}
          {{::materialsSupervisor.apellido_materno}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <label>
        <input type="checkbox"
          value="{{plan.isAllMaterialsListSelected}}"
          data-ng-click="plan.selectAllMaterials()"
          />
          Seleccionar todos los materiales
      </label>
    </div>
    <div class="col-xs-12 col-sm-6"
      data-ng-repeat="material in plan.materials"
      >
      <label>
        <input type="checkbox"
          value="{{material.selected}}"
          data-ng-model="material.selected"
          >
          {{material.material}}
      </label>
    </div>
    <div class="col-xs-12">
      Materiales:
      <strong>
      {{plan.plan.materiales.length}}
      </strong>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h5>Hieleras {{plan.selectCoolers()}}</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <label for="coolersSupervisorSelect" class="sr-only">
        Encargado de hieleras
      </label>
      <select class="form-control"
        id="coolersSupervisorSelect"
        name="coolersSupervisorSelect"
        data-ng-model="plan.plan.id_responsable_hieleras"
        >
        <option
          data-ng-repeat="coolersSupervisor in plan.samplingEmployees"
          value="{{coolersSupervisor.id_usuario}}">
          {{::coolersSupervisor.nombres}}
          {{::coolersSupervisor.apellido_paterno}}
          {{::coolersSupervisor.apellido_materno}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
      data-ng-repeat="cooler in plan.coolers"
      >
      <label>
        <input type="checkbox"
          name="{{cooler.selected}}"
          data-ng-model="cooler.selected"
          >
          {{cooler.hielera}}
      </label>
    </div>
    <div class="col-xs-12">
      Hieleras:
      <strong>
      {{plan.plan.hieleras.length}}
      </strong>
    </div>
  </div>
  <div class="row"
    data-ng-show="plan.user.level < 3">
    <div class="col-xs-12">
      <h4>Validación</h4>
    </div>
    <div class="col-xs-12 col-sm-5 well wel-sm ">
      <button class="btn btn-success"
        value="Validar" title="Validar"
        data-ng-disabled="plan.plan.id_status == 2"
        data-ng-click="plan.approveItem()"
        >
        <i class="glyphicon glyphicon-ok" aria-hidden="true"></i>
        Validar
      </button>
      <button class="btn btn-danger"
        value="Rechazar" title="Rechazar"
        data-ng-disabled="plan.plan.id_status == 3"
        data-ng-click="plan.rejectItem()"
        >
        <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
        Rechazar
      </button>
    </div>
    <div class="col-xs-12 col-sm-7 well wel-sm ">
      <label class="sr-only" for="rejectText">
        Motivo rechazo
      </label>
      <input type="text" class="form-control"
        id="rejectText"
        name="rejectText"
        placeholder="Especifique motivo rechazo"
        data-ng-disabled="plan.plan.id_status != 3"
        data-ng-model="plan.plan.motivo_rechaza"
        >
    </div>
  </div>
  <br>
  <button type="submit" class="btn btn-primary"
    value="Guardar" title="Guardar"
    data-ng-click="plan.submitForm()"
    data-ng-if="plan.plan.id_status != 2 || plan.user.level < 3"
    >
    <i class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></i>
    Guardar
  </button>
</form>

          </div>
          <sislab-footer></sislab-footer>
        </div><!-- view-container -->
      </div><!-- row -->
    </div><!-- container -->

