    <sislab-menu></sislab-menu>
    <sislab-banner></sislab-banner>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2 main item-z2">
          <div class="view-container">

<div class="row">
  <div class="col-xs-12">
    <h2 class="page-header">Solicitudes de servicio</h2>
  </div>
</div>
<form class="form" role="form"
  name="clientsForm"
  novalidate
  >
  <div class="row">
    <div class="col-xs-12">
      <h4>Búsqueda</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <label for="quoteSearch" class="sr-only">
        Ingrese una búsqueda (Estudio, Cliente, Contacto, etc.)
      </label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="glyphicon glyphicon-search"></i>
        </div>
        <input type="text"
          class="form-control"
          placeholder="Ingrese una búsqueda (Estudio, Cliente, Contacto, etc.)"
          id="quoteSearch"
          name="quoteSearch"
          data-ng-model="quotes.filter.$">
      </div>
      <br>
    </div>
  </div>
</form>
<div class="row">
  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Solicitudes</h3>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-condensed"
          id="quotesList">
          <thead>
            <tr>
              <th>Id Estudio</th>
              <th>Id Solicitud</th>
              <th>Status</th>
              <th>Cliente</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr
              data-ng-repeat="item in quotes.quotes
              | filter:quotes.filter.$"
              id="quoteId{{item.id_solicitud}}"
              >
              <td>
                {{item.id_estudio}}
              </td>
              <td>
                {{item.id_solicitud}}
              </td>
              <td>
                <span class="label label-default"
                  data-ng-show="item.id_status == 1">Sin Validar</span>
                <span class="label label-success"
                  data-ng-show="item.id_status == 2">Validado</span>
                <span class="label label-danger"
                  data-ng-show="item.id_status == 3">Rechazado</span>
              </td>
              <td>
                {{item.cliente.cliente}}
                <span class="text-muted"
                  data-ng-show="item.cliente.area.length > 0">
                  {{item.cliente.area}}
                </span>
                <span class="label label-default"
                  data-ng-show="item.cliente.interno < 1">Externo</span>
                <br>
                {{item.cliente.contacto}}
              </td>
              <td>
                <button class="btn btn-default"
                  value="Consultar" title="Consultar"
                  data-ng-click="quotes.viewQuote(item.id_solicitud)"
                  >
                  <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

          </div>
          <sislab-footer></sislab-footer>
        </div><!-- view-container -->
      </div><!-- row -->
    </div><!-- container -->

