<md-content layout="row"
  layout-padding layout-wrap
  layout-align="center center"
  ng-cloak
  style="background: transparent;"
  >
  <div flex hide-sm>
  </div>
  <md-card class="md-default-theme"
    md-whiteframe="2"
    flex-gt-sm="66"
    flex="100">
    <md-card-content class="autoScroll">
      <md-input-container class="md-icon-float md-block">
        <label>Ingrese un término de búsqueda</label>
        <md-icon class="material-icons" aria-label="buscar">search</md-icon>
        <input
          type="text"
          ng-model="search.term"
          ng-keyup="$event.keyCode === 13 && search.submit()"
          >
      </md-input-container>

      <div
        layout="column"
        layout-align="center center"
        ng-if="search.isLoading">
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        Cargando...
      </div>

      <md-list>
        <md-subheader class="md-sticky"
          ng-if="search.results.length > 0">
          {{search.results.length}} Resultado(s) para "{{search.term}}"
        </md-subheader>
        <md-subheader class="md-sticky"
          ng-if="search.results.length < 1">
          Sin resultados
        </md-subheader>
        <md-list-item
          class="md-3-line"
          ng-repeat="item in search.results"
          >
          <div
            class="md-list-item-text"
            layout="row"
            >
            <div layout="column" flex="90">
              <h2 class="md-display-1">
                {{::item.number}}
              </h2>
              <p class="md-caption">
                <div>
                  <b>Status acuse:</b>
                  {{::item.status}}
                </div>
                <!--
                <div ng-if="!item.signDate">
                -->
                <div>
                  <b>Firma:</b>
                  {{::item.signDate | date: 'dd/MM/yyyy'}}
                </div>
                <!--
                <div ng-if="item.signDate">
                  <b>Firma:</b>
                  <span style="color:red;">
                    Pendiente de Firma
                  </span>
                </div>
                -->
                <div>
                  <b>Dependencia:</b>
                  {{::item.receiver.organization}}
                </div>
                <div ng-if="item.receiver.name">
                  <b>Responsable:</b>
                   {{::item.receiver.name}}
                </div>
                <div>
                  <b>Asunto:</b>
                   {{::item.subject}}
                </div>
                <small>
                  Relevancia:
                  {{::item.score | number: 3}}
                </small>
              </p>
            </div>
            <div flex layout="column"
              class="md-secondary"
              >
              <md-button
                aria-label="Ver documento"
                class="md-icon-button"
                ng-click="search.viewDocument(item._id)"
                >
                <md-icon
                  class="material-icons"
                  aria-label="Ver documento">visibility</md-icon>
                <md-tooltip>
                  Ver documento
                </md-tooltip>
              </md-button>
              <md-button
                aria-label="Editar documento"
                class="md-icon-button"
                ng-click="search.editDocument(item._id)"
                >
                <md-icon
                  class="material-icons"
                  aria-label="Editar documento">create</md-icon>
                <md-tooltip>
                  Editar documento
                </md-tooltip>
              </md-button>
              <md-button
                aria-label="Eliminar documento"
                class="md-icon-button"
                ng-click="search.deleteDocument(item._id)"
                >
                <md-icon
                  class="material-icons"
                  aria-label="Eliminar documento">delete</md-icon>
                <md-tooltip>
                  Eliminar documento
                </md-tooltip>
              </md-button>
            </div>
          </div>
          <md-divider ng-if="!$last"></md-divider>
          <br>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
  <div flex hide-sm>
  </div>
</md-content>
