<md-content layout="row"
  layout-padding layout-wrap
  layout-align="center center"
  ng-cloak
  style="background: transparent;"
  >
  <div flex hide-sm>
  </div>
  <md-card class="md-default-theme"
    md-whiteframe="2"
    flex-gt-sm="66"
    flex="100">
    <md-card-content class="autoScroll">
      <md-input-container class="md-icon-float md-block">
        <label>Ingrese un término de búsqueda</label>
        <md-icon class="material-icons" aria-label="buscar">search</md-icon>
        <input
          type="text"
          ng-model="search.term"
          ng-keyup="$event.keyCode === 13 && search.submit()"
          >
      </md-input-container>

      <div
        layout="column"
        layout-align="center center"
        ng-if="search.isLoading">
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        Cargando...
      </div>

      <md-list>
        <md-subheader class="md-sticky"
          ng-if="search.results.length > 0">
          {{search.results.length}} Resultado(s) para "{{search.term}}"
        </md-subheader>
        <md-subheader class="md-sticky"
          ng-if="search.results.length < 1">
          Sin resultados
        </md-subheader>
        <md-list-item class="md-3-line"
          ng-click="search.viewDocument($event)"
          ng-repeat="item in search.results">
          <div class="md-list-item-text" layout="column">
            <small class="md-caption">
              Status: {{item.status}}
            </small>
            <small class="md-caption">
              <i>(Respuesta {{item.response.date | date: 'dd/MM/yyyy'}})</i>
            </small>
            <p class="md-body-2">
              Organización: {{item.response.senderOrganization}}<br>
              <small>
                <i>
                Remitente: {{item.response.sender}}
                </i>
              </small>
            </p>
            <h4 class="md-title">
              Asunto: {{item.reception.subject}}
            </h4>
            <!--
            <a
              ng-href="file:{{item.reception.url}}"
              ng-if="item.reception.url.length > 0">
              <md-icon class="material-icons" aria-label="archivo">insert_drive_file</md-icon>
              {{item.reception.url}}
            </a>
            <br>
            -->
            <small>
              Relevancia:
              {{item.score | number: 2}}
            </small>
          </div>
          <md-divider ng-if="!$last"></md-divider>
          <br>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
  <div flex hide-sm>
  </div>
</md-content>
