    <sislab-menu></sislab-menu>
    <sislab-banner></sislab-banner>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2 main item-z2">
          <div class="view-container">

<div class="row">
  <div class="col-xs-12">
    <h2 class="page-header">Puntos de muestreo</h2>
  </div>
</div>
<form class="form" role="form"
  name="pointsListForm"
  novalidate
  >
  <div class="row">
    <div class="col-xs-12">
      <h4>Búsqueda</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <label for="clientName" class="sr-only">
        Ingrese una búsqueda (Clave, Descripción, etc.)
      </label>
      <input type="text"
        class="form-control"
        placeholder="Ingrese una búsqueda (Clave, Descripción, etc.)"
        id="clientName"
        name="clientName"
        data-ng-model="pointsList.filter.$"
        >
      <br>
    </div>
  </div>
</form>
<div class="row">
  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Puntos de muestreo</h3>
      </div>
      <div class="table-responsive">
        <table class="table table-hover"
          id="pointsList">
          <thead>
            <tr>
              <th>Punto</th>
              <th>Descripción</th>
              <th>Coordenadas</th>
            </tr>
          </thead>
          <tbody>
            <tr
              data-ng-repeat="item in pointsList.points |
              filter:pointsList.filter.$"
              id="priceId{{item.id_punto_muestreo}}"
              data-ng-click="pointsList.selectRow()"
              >
              <td>
               {{item.punto_muestreo}}
              </td>
              <td>
                {{item.descripcion}}
              </td>
              <td>
                Latitud:
                {{item.lat}}
                <br>
                Longitud:
                {{item.lng}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

          </div>
          <sislab-footer></sislab-footer>
        </div><!-- view-container -->
      </div><!-- row -->
    </div><!-- container -->

