    <sislab-menu></sislab-menu>
    <sislab-banner></sislab-banner>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2 main item-themed-z2">
          <div class="view-container">

<div class="row">
  <div class="col-xs-12">
    <h2 class="page-header">Validar reporte</h2>
  </div>
</div>
<form class="form" role="form"
  name="reportApprovalForm"
  data-ng-submit="reportApproval.submitOrderForm()"
  novalidate
  >
  <div class="row">
    <div class="col-xs-12">
      <h4>Datos de Referencia</h4>
      <div class="well well-sm">
        <ul class="list-inline">
          <li>
            Folio:
            {{reportApproval.reportApproval.folio}}
            /
            {{reportApproval.reportApproval.ejercicio}}</li>
          <li data-ng-show="reportApproval.reportApproval.fecha_orden.length > 0">
            Fecha actual:
            {{reportApproval.reportApproval.fecha_orden}}</li>
          <li data-ng-show="reportApproval.reportApproval.solicitud.length > 0">
            Fecha solicitud:
            {{reportApproval.reportApproval.solicitud.fecha_solicitud}}</li>
          <li data-ng-show="reportApproval.reportApproval.fecha_captura.length > 0">
            Fecha captura:
            {{reportApproval.reportApproval.fecha_captura}}</li>
          <li data-ng-show="reportApproval.reportApproval.fecha_valida.length > 0">
            Fecha validación:
            {{reportApproval.reportApproval.fecha_valida}}</li>
          <li data-ng-show="reportApproval.reportApproval.fecha_acepta.length > 0">
            Fecha aceptación:
            {{reportApproval.reportApproval.fecha_acepta}}</li>
          <li data-ng-show="reportApproval.reportApproval.fecha_actualizacion.length > 0">
            Fecha actualización:
            {{reportApproval.reportApproval.fecha_actualizacion}}</li>
        </ul>
        <span class="label label-info"
          data-ng-show="reportApproval.reportApproval.validado > 0">Validada</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h4>Cliente</h4>
      <div class="well well-sm">
        Cliente: {{reportApproval.reportApproval.cliente.cliente}}
        {{reportApproval.reportApproval.cliente.area.length > 0 &&
        ' - ' + reportApproval.reportApproval.cliente.area ||
        ''}}
        <br>
        Contacto: {{reportApproval.reportApproval.cliente.contacto}}
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h4>Solicitud / Cotización</h4>
      <div class="well well-sm">
        Folio:
        {{reportApproval.reportApproval.solicitud.folio}}
        /
        {{reportApproval.reportApproval.solicitud.ejercicio}}
        <br>Fecha:
        {{reportApproval.reportApproval.solicitud.fecha_captura}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Medio de Solicitud de Muestreo</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
      <label for="reportApprovalSourceSelect" class="sr-only">
        Medio de Solicitud
      </label>
      <select class="form-control"
        id="reportApprovalSourceSelect"
        name="reportApprovalSourceSelect"
        required
        data-ng-model="reportApproval.reportApproval.id_origen_orden"
        data-ng-change="reportApproval.selectOrderSource()"
        >
        <option value="">
          Seleccione una opción
        </option>
        <option data-ng-repeat="reportApprovalSource in reportApproval.reportApprovalSources"
          value="{{reportApprovalSource.id_origen_orden}}">
          {{reportApprovalSource.origen_orden}}
        </option>
      </select>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
      <label class="sr-only" for="emergencyText">
        En caso de emergencia, especificar
      </label>
      <input type="text" class="form-control"
        id="emergencyText"
        name="emergencyText"
        placeholder="En caso de emergencia, especificar"
        data-ng-model="reportApproval.reportApproval.origen_otro"
        >
    </div>
  </div>
  <br>
  <button type="submit" class="btn btn-primary"
    value="Guardar" title="Guardar"
    data-ng-click="reportApproval.validateOrderForm()"
    >
    Guardar</button>
</form>

          </div>
          <sislab-footer></sislab-footer>
        </div><!-- view-container -->
      </div><!-- row -->
    </div><!-- container -->
    <sislab-banner-bottom></sislab-banner-bottom>
