<md-toolbar
  md-whiteframe="5"
  >
  <div class="md-toolbar-tools">
    <h3 hide-xs>
      Control Oficios
    </h3>
    <h3 hide-gt-xs>
      Oficios
    </h3>
    <span flex></span>
    <div ng-show="toolbar.isLoggedIn">
      <md-button
        aria-label="Búsqueda"
        class="md-icon-button"
        ng-click="toolbar.openSearch($event)"
        >
        <md-icon
          class="material-icons"
          aria-label="Búsqueda">search</md-icon>
        <md-tooltip>
          Búsqueda
        </md-tooltip>
      </md-button>
      <md-button
        aria-label="Nuevo"
        class="md-icon-button"
        ng-click="toolbar.openDocument($event)"
        >
        <md-icon
          class="material-icons"
          aria-label="Nuevo">create</md-icon>
        <md-tooltip>
          Agregar registro
        </md-tooltip>
      </md-button>
      <md-menu md-position-mode="target-right target">
        <md-button
          aria-label="Administración"
          class="md-icon-button"
          ng-click="toolbar.openMenu($mdOpenMenu, $event)"
          >
          <md-icon
            class="material-icons"
            aria-label="Menú: Administración">person</md-icon>
          <md-tooltip>
            Adminsitración
          </md-tooltip>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="toolbar.openProfile($event)">
              <div layout="row" flex>
                <p flex>Perfil</p>
                <md-icon
                  class="material-icons"
                  aria-label="Perfil">person</md-icon>
              </div>
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="toolbar.openLogout($event)">
              <div layout="row" flex>
                <p flex>Cerrar sesión</p>
                <md-icon
                  class="material-icons"
                  aria-label="Cerrar Sesión">directions_run</md-icon>
              </div>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </div>
</md-toolbar>
