<md-toolbar
  md-whiteframe="5">
  <div class="md-toolbar-tools">
    <!--
    <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
      <md-icon class="material-icons" aria-label="menu">menu</md-icon>
    </md-button>
    -->
    <h3 hide-xs>
      Control Oficios
    </h3>
    <h3 hide-gt-xs>
      Oficios
    </h3>
    <span flex></span>
    <div ng-show="toolbar.isLoggedIn">
      <md-menu md-position-mode="target-right target">
        <md-button
          aria-label="Búsqueda"
          class="md-icon-button"
          ng-click="toolbar.openMenu($mdOpenMenu, $event)"
          >
          <md-icon
            class="material-icons"
            aria-label="Búsqueda">search</md-icon>
          <md-tooltip>
            Búsqueda
          </md-tooltip>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="toolbar.openSearch($event)">
              <div layout="row" flex>
                <p flex>Búsqueda Sencilla</p>
                <md-icon
                  class="material-icons"
                  aria-label="Sencilla">search</md-icon>
              </div>
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="toolbar.openAdvancedSearch($event)">
              <div layout="row" flex>
                <p flex>Búsqueda Avanzada</p>
                <md-icon
                  class="material-icons"
                  aria-label="Avanzada">youtube_searched_for</md-icon>
              </div>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-button aria-label="Nuevo"
        class="md-icon-button"
        ng-click="toolbar.openNewDocument($event)">
        <md-icon class="material-icons" aria-label="buscar">create</md-icon>
        <md-tooltip>
          Agregar registro
        </md-tooltip>
      </md-button>
      <md-menu md-position-mode="target-right target">
        <md-button
          aria-label="Administración"
          class="md-icon-button"
          ng-click="toolbar.openMenu($mdOpenMenu, $event)"
          >
          <md-icon
            class="material-icons"
            aria-label="Menú: Administración">person</md-icon>
          <md-tooltip>
            Adminsitración
          </md-tooltip>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="toolbar.openProfile($event)">
              <div layout="row" flex>
                <p flex>Perfil</p>
                <md-icon
                  class="material-icons"
                  aria-label="Perfil">person</md-icon>
              </div>
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="toolbar.openLogout($event)">
              <div layout="row" flex>
                <p flex>Cerrar sesión</p>
                <md-icon
                  class="material-icons"
                  aria-label="Cerrar Sesión">directions_run</md-icon>
              </div>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </div>
</md-toolbar>
<!--
<md-toolbar class="md-hue-1" ng-show="showSearch">
  <div class="md-toolbar-tools">
    <md-button ng-click="showSearch = !showSearch" aria-label="Back">
      <ng-md-icon icon="arrow_back"></ng-md-icon>
    </md-button>
    <h3 flex="10">
      Back
    </h3>
    <md-input-container md-theme="input" flex>
      <label>&nbsp;</label>
      <input ng-model="search.who" placeholder="enter search">
    </md-input-container>
    <md-button aria-label="Search" ng-click="showSearch = !showSearch">
      <ng-md-icon icon="search"></ng-md-icon>
    </md-button>
    <md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)">
      <ng-md-icon icon="more_vert"></ng-md-icon>
    </md-button>
  </div>
</md-toolbar>
-->
