<md-content layout="row"
  layout-padding layout-wrap
  layout-align="center center"
  ng-cloak
  >
  <div flex hide-sm>
  </div>
  <md-card class="md-default-theme"
    md-whiteframe="2"
    flex-gt-sm="66"
    flex="100">
    <md-card-content class="autoScroll">
      <h1>Nuevo registro</h1>
      <form name="newDocForm">
        <md-card class="md-default-theme"
          md-whiteframe="1">
          <md-card-content>
            <md-card-title-text>
              <span class="md-headline">Recepción</span>
              <span class="md-subhead">(Oficios recibidos)</span>
            </md-card-title-text>

            <div layout-gt-xs="row">
              <md-input-container class="md-block" flex-gt-xs>
                <label>Número de Control</label>
                <input ng-model="document.reception.controlNumber">
              </md-input-container>

              <md-datepicker
                name="dateField"
                ng-model="document.reception.date"
                md-placeholder="Fecha recepción"
                required
                md-min-date="document.minDate"
                md-max-date="document.maxDate"
                >
              </md-datepicker>
              <div layout="column"
                class="validation-messages"
                ng-messages="newDocForm.dateField.$error">
                <div ng-message="valid">No es una fecha válida</div>
                <div ng-message="mindate">La fecha es anterior al rango</div>
                <div ng-message="maxdate">La fecha es posterior al rango</div>
              </div>
            </div>

            <md-autocomplete
              ng-disabled="document.isDisabled"
              md-no-cache="document.noCache"
              md-selected-item="document.selectedItem"
              md-search-text-change="document.searchTextChange(document.searchText)"
              md-search-text="document.searchText"
              md-selected-item-change="document.selectedItemChange(item)"
              md-items="item in document.querySearch(document.searchText)"
              md-item-text="item.office"
              md-min-length="0"
              placeholder="¿Cuál es el Área receptora?">
              <md-item-template>
                <span md-highlight-text="document.searchText" md-highlight-flags="^i">{{item.office}}</span>
              </md-item-template>
              <md-not-found>
                No se encontraron coincidencias para "{{document.searchText}}"
              </md-not-found>
            </md-autocomplete>

            <md-input-container class="md-block" flex-gt-xs>
              <label>Recepcionista</label>
              <input ng-model="document.reception.receptionist">
            </md-input-container>

              <input type="file" id="input" onchange="handleFiles(this.files)">
            <md-input-container class="md-block" flex-gt-xs>
              <label>Archivo</label>
            </md-input-container>

            <div layout-gt-xs="row">

            </div>
          </md-card-content>
        </md-card>
      </form>

      <h4>Remitente</h4>
      <label>
        Nombre
      </label>
      <input type="text"
        value="Nombre del solicitante"
        >


      <h3>Destino</h3>

      <h4>Fecha de elaboración</h4>
      <myCalendar>
        <date></date>
      </myCalendar>

      <h4>Fecha de recepción</h4>
      <myCalendar>
        <date></date>
      </myCalendar>

      <h4>Dependencia</h4>
      <select>
        <option>
          Dependencia Externa
        </option>
      </select>

      <h4>Control correspondencia</h4>
      <label>
        Núm. de control
      </label>
      <input type="text"
        value="Número de control del documento en correspondencia"
        >

      <h4>Oficio</h4>
      <label>
        Núm. Oficio
      </label>
      <input type="text"
        value="Número del oficio de respuesta"
        >

      <h4>Destinatario</h4>
      <label>
        Nombre
      </label>
      <input type="text"
        value="Nombre del destinatario de la respuesta"
        >

      <h4>Texto del oficio</h4>
      <label>
        Contenido
      </label>
      <textarea></textarea>

      <h4>Status Acuse</h4>
      <select>
        <option>
          Pendiente
        </option>
      </select>

      <h4>Ruta a documento</h4>
      <input type="text"
        value="url/a/documento/original.pdf"
        >






    </md-card-content>
  </md-card>
  <div flex hide-sm>
  </div>
</md-content>
