    <sislab-menu></sislab-menu>
    <sislab-banner></sislab-banner>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2 main item-z2">
          <div class="view-container">

<div class="row">
  <div class="col-xs-12">
    <h2 class="page-header">Reactivos y soluciones</h2>
  </div>
</div>
<div class="toast-warning">
  <div class="alert alert-warning alert-dismissible item-z1" role="alert"
    data-ng-show="reactive.message.length > 0">
    <button type="button" class="close" aria-label="Cerrar"
      data-ng-click="reactive.message = ''">
      <span aria-hidden="true">&times;</span>
    </button>
    <i class="glyphicon glyphicon-warning-sign"></i>
    <strong>
      {{reactive.message}}
    </strong>
  </div>
</div>

<form class="form" role="form"
  name="reactiveForm"
  novalidate
  >
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <label
        for="reactiveName">
        Reactivo
      </label>
      <input type="text"
        class="form-control"
        name="reactiveName"
        placeholder="Reactivo"
        data-ng-model="reactive.reactive.reactivo"
        >
    </div>
    <div class="col-xs-12 col-sm-4">
      <label
        for="reactiveLot"
        >
        Lote
      </label>
      <input type="text"
        class="form-control"
        placeholder="Lote"
        name="reactiveLot"
        data-ng-model="reactive.reactive.lote"
        >
    </div>
    <div class="col-xs-12 col-sm-4"
      data-ng-if="reactive.reactive.consulta == 4"
      >
      <label
        for="reactiveFolio"
        >
        Folio
      </label>
      <input type="text"
        class="form-control"
        placeholder="Folio"
        name="reactiveFolio"
        data-ng-model="reactive.reactive.folio"
        >
    </div>
    <div class="col-xs-12 col-sm-4"
      data-ng-if="reactive.reactive.consulta == 6"
      >
      <label
        for="reactiveValue"
        >
        Valor
      </label>
      <input type="text"
        class="form-control"
        placeholder="Valor"
        name="reactiveValue"
        data-ng-model="reactive.reactive.valor"
        >
    </div>
    <div class="col-xs-12">
      <small class="text-muted">* Soluciones para verificar la calibración</small>
    </div>
  </div>
  <br>
  <button type="submit" class="btn btn-primary"
    value="Guardar" title="Guardar"
    data-ng-click="reactive.submitForm()"
    >
    <i class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></i>
    Guardar
  </button>
</form>

          </div>
          <sislab-footer></sislab-footer>
        </div><!-- view-container -->
      </div><!-- row -->
    </div><!-- container -->

