    <sislab-menu></sislab-menu>
    <sislab-banner></sislab-banner>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2 main item-z2">
          <div class="view-container">

<div class="row">
  <div class="col-xs-12">
    <h2 class="page-header">Orden de muestreo</h2>
  </div>
</div>
<div class="toast">
  <div class="alert alert-danger item-z2" role="alert"
    data-ng-show="order.order.id_status == 3">
    <i class="glyphicon glyphicon-ban-circle"></i>
    Motivo rechazo:
    <strong>
      {{order.order.motivo_rechaza}}
      <span
        data-ng-show="order.order.fecha_rechaza.length > 0">
          ({{order.order.fecha_rechaza | date: 'yyyy-MM-dd'}})
      </span>
    </strong>
  </div>
</div>
<div class="toast-warning">
  <div class="alert alert-warning alert-dismissible item-z2" role="alert"
    data-ng-show="order.message.length > 0">
    <button type="button" class="close" aria-label="Cerrar"
      data-ng-click="order.message = ''">
      <span aria-hidden="true">&times;</span>
    </button>
    <i class="glyphicon glyphicon-warning-sign"></i>
    <strong>
      {{order.message}}
    </strong>
  </div>
</div>
<form class="form" role="form"
  name="orderForm"
  novalidate
  >
  <!--
  <div class="row">
    <div class="col-xs-12" data-bs-collapse>
      <h4 data-bs-collapse-toggle>
        <a class="btn btn-default">
          <i class="glyphicon glyphicon-chevron-down"
            aria-hidden="true"></i>
        </a>
        Datos de Referencia
      </h4>
      <div class="row well well-sm item-z1"
        data-bs-collapse-target
        >
        <div class="col-xs-12 col-sm-6">
          <h6>Informe</h6>
          <ul class="list-inline">
            <li>
              Id Informe:
              <strong>{{::order.order.id_estudio}}</strong>
            </li>
            <li>
              Fecha:
              <strong>{{::order.order.estudio.fecha}}</strong>
            </li>
          </ul>
          <br>
          <span class="label label-success"
            data-ng-show="order.order.estudio.id_status == 2">
            <i class="glyphicon glyphicon-ok"></i>
            {{order.order.estudio.status}}
          </span>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h6>Cliente</h6>
          <strong>{{::order.order.cliente.cliente}}</strong>
          <small data-ng-show="order.order.cliente.area.length > 0">
            <strong>{{::order.order.cliente.area}}</strong>
          </small>
          <br>
          Contacto:
          <strong>{{::order.order.cliente.contacto}}</strong>
        </div>
      </div>
    </div>
  </div>
  -->
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h6>Ubicación</h6>
      <p>
        {{order.location}}
      </p>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h6>Medio de solicitud</h6>
      <p>
        {{order.source}}
        <span
          data-ng-show="order.study.origen_descripcion.length > 1">
          ({{::order.study.origen_descripcion}})
        </span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Cuerpo receptor</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <label for="bodySelect">
        Cuerpo
      </label>
      <select class="form-control"
        id="bodySelect"
        name="bodySelect"
        data-ng-model="order.order.id_cuerpo"
        >
        <option data-ng-repeat="body in order.bodies"
          value="{{body.id_cuerpo}}"
          data-ng-selected="body.id_cuerpo == order.order.id_cuerpo"
          >
         {{::body.cuerpo}}
         (Tipo: {{body.tipo_cuerpo}})
        </option>
      </select>
    </div>
  </div>
  <!--
  <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-6">
      <label for="receivingWaterBodyText">
        Cuerpo receptor {{order.order.id_cuerpo}}
      </label>
      <input type="text" class="form-control"
        id="receivingWaterBodyText"
        name="receivingWaterBodyText"
        placeholder="Cuerpo receptor"
        data-ng-model="order.order.cuerpo_receptor"
        >
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-6">
      <label for="receivingWaterBodyTypeText">
        Tipo de cuerpo
      </label>
      <input type="text" class="form-control"
        id="receivingWaterBodyTypeText"
        name="receivingWaterBodyTypeText"
        placeholder="Tipo de cuerpo"
        data-ng-model="order.order.tipo_cuerpo"
        >
    </div>
  </div>
  -->
  <div class="row">
    <div class="col-xs-12">
      <h4>Solicitar Plan de muestreo</h4>
    </div>
  </div>
  <div class="row"
    data-ng-repeat="row in order.order.planes">
    <div class="col-xs-6 col-sm-2">
      <label for="packSelectId{{::row.id_plan}}">
        Paquete puntos
      </label>
      <select class="form-control"
        id="packSelectId{{::row.id_plan}}"
        name="packSelectId{{::row.id_plan}}"
        required
        data-ng-model="row.id_paquete"
        >
        <option data-ng-repeat="package in order.packages"
          value="{{package.id_paquete}}"
          data-ng-selected="row.id_paquete == package.id_paquete"
          >
          {{::package.paquete}}
        </option>
      </select>
    </div>
    <div class="col-xs-6 col-sm-3">
      <label for="samplingSelectId{{::row.id_plan}}">
        Responsable
      </label>
      <select class="form-control"
        id="samplingSelectId{{::row.id_plan}}"
        name="samplingSelectId{{::row.id_plan}}"
        required
        data-ng-model="row.id_supervisor_muestreo"
        >
        <option data-ng-repeat="supervisor in order.supervisors"
          value="{{supervisor.id_usuario}}"
          data-ng-selected="row.id_supervisor_muestreo == supervisor.id_usuario"
          >
          {{::supervisor.nombres}}
          {{::supervisor.apellido_paterno}}
          {{::supervisor.apellido_materno}}
        </option>
      </select>
    </div>
    <div class="col-xs-6 col-sm-4">
      <label for="samplingDateId{{::row.id_plan}}">
        <i class="glyphicon glyphicon-calendar"></i>
        Fecha
      </label>
      <input type="text"
        class="form-control"
        id="samplingDateId{{::row.id_plan}}"
        name="samplingDateId{{::row.id_plan}}"
        placeholder="aaaa-mm-dd"
        required
        data-ng-model="row.fecha_probable"
        data-date-format="yyyy-MM-dd"
        data-date-type="date"
        data-autoclose="1"
        date-use-native="true"
        data-bs-datepicker
        >
    </div>
    <div class="col-xs-6 col-sm-2">
      <label for="samplingTime{{::row.id_plan}}">
        <i class="glyphicon glyphicon-time"></i>
        Hora inicio
      </label>
      <input type="text"
        class="form-control"
        id="samplingTime{{::row.id_plan}}"
        name="samplingTime{{::row.id_plan}}"
        placeholder="HH:mm"
        required
        data-ng-model="row.fecha_probable"
        data-time-format="HH:mm"
        data-length="1"
        data-hour-step="1"
        data-minute-step="1"
        data-arrow-behavior="picker"
        data-auto-close="1"
        data-bs-timepicker
        >
    </div>
    <div class="col-xs-1">
      <label for="removeButtonId{{::row.id_plan}}">
        Eliminar
      </label>
      <button class="btn btn-danger"
        id="removeButtonId{{::row.id_plan}}"
        name="removeButtonId{{::row.id_plan}}"
        value="Eliminar" title="Eliminar"
        data-ng-click="order.getScope().removePlan(row)"
        data-ng-disabled="order.order.planes.length < 2"
        >
        <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <br>
      <a class="btn btn-success"
        value="Agregar plan" title="Agregar plan"
        data-ng-click="order.addPlan()"
        >
        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
        Agregar plan
      </a>
      <br><br>
    </div>
  </div>
  <div class="row"
    data-ng-show="order.user.level < 3">
    <div class="col-xs-12">
      <h4>Validación</h4>
    </div>
    <div class="col-xs-12 col-sm-5 well wel-sm ">
      <button class="btn btn-success"
        value="Validar" title="Validar"
        data-ng-disabled="order.order.id_status == 2"
        data-ng-click="order.approveItem()"
        >
        <i class="glyphicon glyphicon-ok" aria-hidden="true"></i>
        Validar
      </button>
      <button class="btn btn-danger"
        value="Rechazar" title="Rechazar"
        data-ng-disabled="order.order.id_status == 3"
        data-ng-click="order.rejectItem()"
        >
        <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
        Rechazar
      </button>
    </div>
    <div class="col-xs-12 col-sm-7 well wel-sm ">
      <label class="sr-only" for="rejectText">
        Motivo rechazo
      </label>
      <input type="text" class="form-control"
        id="rejectText"
        name="rejectText"
        placeholder="Especifique motivo rechazo"
        data-ng-disabled="order.order.id_status != 3"
        data-ng-model="order.order.motivo_rechaza"
        >
    </div>
  </div>
  <br>
  <button type="submit" class="btn btn-primary"
    value="Guardar" title="Guardar"
    data-ng-click="order.submitForm()"
    data-ng-if="order.order.id_status != 2 || order.user.level < 3"
    >
    <i class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></i>
    Guardar
  </button>
</form>

          </div>
          <sislab-footer></sislab-footer>
        </div><!-- view-container -->
      </div><!-- row -->
    </div><!-- container -->

